body {
    font-family: 'Roboto', sans-serif;
}

body.modal-open {
    overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.container {
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
        width: 1200px;
        padding: 0 15px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px){
        width: 768px;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-right: 15px;
        padding-left: 15px;
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
        width: 480px;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-right: 15px;
        padding-left: 15px;
    }
}


.title {
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-color;
}

