@media screen and (min-width: 1200px) {
    .advantage {
        padding: 94px 0;
    
        &__list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        &__item {
            width: calc((100% - 90px) / 4);
            margin-right: 30px;
            margin-bottom: 0;
    
            &:nth-child(4) {
                margin-right: 0;
            }
        }
        &__svg-bg {
            @include elementFlex ();
            height: 120px;

            border-radius: 4px;
        }
    
        &__title{
            text-align: left;
        }
    
    }
}
