@media screen and (min-width: 1200px) {

    .clients {
        padding: 94px 0;
    
        &__list {
            @include elementFlex();
        }
    
        &__wrapper {
            margin-right: 30px;
    
            width: calc((100% - 150px) / 6);
            height: 90px;
    
            &:nth-child(6) {
                margin-right: 0;
            } 
        }
    
        &__link {
            @include elementFlex();
            width: 100%;
            height: 100%;
            border: 1px solid $main-color;
            border-radius: 4px;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                border: 1px solid $hover-color;
            }
        }
        &__icon {
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);   
            fill: $main-color;
    
            .clients__link:hover &,
            .clients__link:focus & {
                fill: $hover-color;
            }
        }
    }
}
