@media screen and (min-width: 1200px) {
    header .container {
        display: flex;
        align-items: center;
    }
    
    .navigation {
        display: flex;
        align-items: center;
    
        &__logo {
            @include logo ($secondary-color);
            text-decoration: none;
    
            span {
                color: $hover-color;
            }
        }
    
        &__link-list {
            display: flex;
    
            li {
                margin-right: 50px;
            }
    
            li:nth-child(3) {
                margin-right: 0;
            }
        }
    
        &__item {
            padding: 32px 0;
            position: relative;
            display: block;
            text-decoration: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.02em;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
            color: $secondary-color;
    
            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
        
        &__item_active {
            color: $hover-color;
    
            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 4px;
                background-color: $hover-color;
                border-radius: 2px;
            }
        }   
    
    }
    
    address {
        display: flex;
        margin-left: auto;
        font-style: normal;
    }
    
    .contact-links {
        margin: 0;
        display: flex;
    
        &__item {
            display: inline-flex;
            margin-right: 30px;
            position: relative;
            display: block;
            text-decoration: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.02em;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
            color: $main-color;
    
            &:hover, 
            &:focus {
                color: $hover-color;
            }
        }
        &__icon {
            margin-right: 10px;
            fill: currentColor;
        }
    }
    
}
