@media screen and (min-width: 1200px) {
    .hero {
        .container {
            padding: 200px 452px;
            max-width: 1600px;
            
        }
        &__title {
            font-weight: 700;
            font-size: 44px;
            line-height: 60px;
        }
    }
}

    