@media screen and (min-width: 1200px) {
    .project {
        padding: 94px 0;
        width: 1600px;
        margin: 0 auto;
        border-top: 1px solid #ECECEC;
    
        &__filter {
            @include elementFlex();
            margin-bottom: 50px;  
        }
    
        &__item-wrapper {
            margin-right: 8px;
    
            &:last-child {
                margin-right: 0;
            }
        }
    
        &__btn {
            padding: 6px 22px;
            background: #F5F4FA;
            border-radius: 4px;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            letter-spacing: 0.03em;
            color: $secondary-color;
            border: none;
            cursor: pointer;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    
            &:hover,
            &:focus {
                background: $hover-color;
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
                color: $white-color;
            }
        }
    
        &__list {
            display: flex;
            flex-wrap: wrap;
        }
    
        &__item {
            width: calc((100% - 60px) / 3);
            margin-right: 30px;
            margin-bottom: 30px;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:nth-child(3n) {
                margin-right: 0;
            }
            &:nth-last-child(-n + 3) {
                margin-bottom: 0;
            }
            
        }
    
        &__link {
            display: block;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:focus,
            &:hover {
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); 
            }
    
        }
    
        &__active {
            position: relative;
            overflow: hidden;
        }
    
        &__active-text {
            position: absolute;
            @include elementFlex();
            transform: translateY(0%);
            height: 100%;
            padding: 0 24px;
    
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0.03em;
            color: #FFFFFF;
            background-color: rgba(33, 150, 243, 0.9);;
    
    
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            .project__item:hover &,
            .project__link:focus & {
                transform: translateY(-100%); 
            }
        }
    
        &__text {
            padding: 20px 24px;
            border-bottom: 1px solid #EEEEEE;
            border-right: 1px solid #EEEEEE;
            border-left: 1px solid #EEEEEE;
            
    
            h3 {
                margin-bottom: 4px;
    
                font-weight: 700;
                font-size: 18px;
                line-height: 36px;
                letter-spacing: 0.06em;
                color: $secondary-color;
                text-decoration: none;
            }
    
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.03em;
                color: $main-color;
                text-decoration: none;
            }
        }
    
    }
    
}
