@media screen and (min-width: 1200px) {
    .team {
        padding: 94px 0;
        width: 1600px;
        margin: 0 auto;

        background-color: $bg-grey;
    
        &__list {
            @include elementFlex();
        }
        &__item {
            width: calc((100% - 90px) / 4);
            margin-right: 30px;
            margin-bottom: 0;
    
            &:nth-child(4) {
                margin-right: 0;
            }
        }

        &__wrapper {
            padding: 30px 0;
        }

        &__social {
            @include elementFlex($placeX: space-between);
            padding: 0 32px;

            li {
                margin-right: 0;
            }
        }
    
    }
}
