    @media (max-width: 767px) {
        .container_mob-advan {
            padding: 60px 15px;
        }
    }

    .advantage {

        .container {
            @extend %container;
        }

        &__item {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__svg-bg {
            margin-bottom: 30px;
            padding: 25px 0;
            background-color: $bg-grey;
        }

        &__icon {
            display: block;
            margin: 0 auto;
        }

        &__title {
            margin-bottom: 10px;

            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: $secondary-color;
        }

        &__text {


            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.03em;
            color: $main-color;
        }

    }