    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        
        overflow-y: scroll;

        opacity: 1;
    
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .backdrop.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
    
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    
        width: 450px;
    
        background-color: $white-color;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        .backdrop.is-hidden & {
            transform: translate(-50%, -50%) scale(0);
        }
    }
    
    .modal__btn {
        position: absolute;
        top: 8px;
        right: 8px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $white-color;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer; 
    }
    
    .modal__icon {
        display: block;
    
        .modal__btn:hover &,
        .modal__btn:focus &,
        .modal__btn:active & {
            fill: $hover-color;
        }
    }
    
    
    .subscribe {
        padding: 40px;
    
        p {
            margin-bottom: 12px;
    
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            letter-spacing: 0.03em;
            color: $secondary-color;
        }
    
    
        &__item-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }
    
        &__label {
            margin-bottom: 4px;
    
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.01em;
            color: $main-color; 
        }
    
        &__input {
            padding: 12px 40px;
            height: 40px;
            width: 100%;
            border: 1px solid rgba(33, 33, 33, 0.2);
            box-sizing: border-box;
            border-radius: 4px;
        
            font-size: 12px;
        
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:focus {
                border: 1px solid $hover-color;
                outline: none;
            }
        }
    
        &__input-icon {
            position: absolute;
            left: 15px;
            transform: translateY(30px);
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            .subscribe__input:focus + & {
                fill: $hover-color;
            }
        }
    
        &__text-aria {
            margin-bottom: 10px;
            padding: 12px 16px;
            resize: none;
            border: 1px solid rgba(33, 33, 33, 0.2);
            box-sizing: border-box;
            border-radius: 4px;
            
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.01em;
    
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:focus {
                border: 1px solid $hover-color;
                outline: none;
            }
            &::placeholder  {
                color: rgba(117, 117, 117, 0.5);
            }
        }
    }
    
    .checkbox {
        @include elementFlex();
        margin-bottom: 30px;
    
        &__label {
            display: flex;
            align-items: center;
            margin-right: 5px;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.03em;
            color: $main-color;
        }
    
        .box-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
    
        &__icon {
            width: 16px;
            height: 15px;
            margin-right: 5px;
            border: 1px solid $secondary-color;
            border-radius: 3px;
    
            .box-hidden:checked + & {
                background-image: url(../img/icons/checkicon.svg);
                background-size: contain;
                background-position: center;
                background-color: $hover-color;
                border-color: $hover-color;
            }
        }
    
        &__link {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;      
            letter-spacing: 0.03em;
            color: $hover-color;
            text-decoration: underline;
        }
    
        
    }
    
    .subscribe__submit {
        display: block;
        margin: 0 auto;
        padding: 10px 55px;
        background: $hover-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        cursor: pointer;
    
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus,
        &:hover {
            background-color: #188CE8;
        }
    
    }
